html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;

}


/*verical center class*/

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}
/*PINHEADER*/

#pinheader{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -25px;
    z-index: 9999999;
    display: none;
}
#pinheader img{
    width: 50px;
    height: 50px;
}

/*HEADER*/

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
/*    background: url(../img/background.jpg) no-repeat center center scroll;*/
    background-color: #333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



h1{

	font-family: 'Roboto', sans-serif;
}

h1 img{
	width: 40%;
	height: auto;
}

h3{
	font-family: 'Roboto', sans-serif;
	color: white;
}

/*Button Header */

.btn-header {
    border-radius: 0;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
}

.btn-header:hover,
.btn-header:focus,
.btn-header:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}


#treewrapper{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
   	background: #ccc;
}
#treewrapper h1{
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 28px;
    z-index: 9999;
}

#treewrapper h4{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 0.8em;
    z-index: 9999;
}


/*STORY WRAPPER*/

#storywrapper {
  background: #fff;
  position: relative;
  height: 100% !important;
  min-height: 100%;
  width: 100%;
  display: table;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.storytext{
    width: 100%;
    background:transparent;
    -webkit-column-count: 2;
    margin-top: 70px;
}
#storywrapper h1{
    color: red;
    font-size: 2em;
    margin-top: 100px;
}
#storywrapper h2{
    color: red;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    padding-left: 20%;
    padding-right: 20%;
    color: #333;
    margin-top: 50px;
}
#storywrapper p{
    color: #fff;
    font-size: 1em;
    color: #333;
    text-align: left;

}


/* Kleine Monitore */
@media only screen and (max-width: 700px) {
    #storywrapper{
        padding-left: 8%;
        padding-right: 8%;
    }

    .storytext{
    width: 100%;
    background:transparent;
    -webkit-column-count: 1;
    -webkit-column-width: 1px;
    margin-top: 70px;   
    }
    #storywrapper h2{
    padding-left: 10%;
    padding-right: 10%;
}

}



